
body {
    margin:auto;
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    background-color : #69d5f3;
}

.navbar {
	display: flex;
	height: 80px;
	
}

.navbar-left {
	display: flex;
	flex: 18%;
	background-color: #414c55;
	margin: 5px; 
/*	background-color: blue; */
	border-radius: 15px;
	align-items: center;
}

.navbar-left button {
	display: flex;
	align-items: center;
	justify-content: start;
	color: white;
	text-decoration: none;
	background-color: #414c55;
	margin : auto;
	width : 20%;
	font-size: 17px;
	border-style: hidden;
	align-items: center;
}

/*
.navbar-left img {
	height: 15%;
	width: 15%;
	object-fit: contain;
	margin: 0 200px 0 0;
	color: white;
}
*/

.navbar-left button:hover {
	color: white;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	background-color: black;
}

.navbar-left img:hover {
	cursor: pointer;

}

.navbar-middle {
	display: flex;
	flex: 60%;
	margin: 5px; 
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-color: #414c55;
	border-radius: 15px;
}


.navbar-middle button {
	color: white;
	font-size: 17px;
	text-align: center;
	font-weight: 500;
	margin:10px;
	background-color: #414c55;
	padding : 5px;
	width : 20%;
	border-style: hidden;
}

.navbar-middle button:hover {
	color: white;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	cursor:pointer;
	background-color: black;
}


.navbar-right {
	display: flex;
	flex: 18%;
	margin: 5px; 
	background-color: #414c55;
	align-items: center;
	/*background-color: pink; */
	border-radius: 15px;
	text-align : center;
	color :white; 
}


#AddEmpTitle {
	top: 50%; 
	right: 50%;
	text-transform: uppercase;
	font-family: verdana;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
	width:100%;
	text-align:center;
	text-shadow: 1px 1px 1px #919191,
		1px 2px 1px #919191,
		1px 3px 1px #919191,
		1px 4px 1px #919191,
		1px 5px 1px #919191,
		1px 6px 1px #919191,
		1px 7px 1px #919191,
		1px 8px 1px #919191,
		1px 9px 1px #919191,
		1px 10px 1px #919191,
	1px 18px 6px rgba(16,16,16,0.4),
	1px 22px 10px rgba(16,16,16,0.2),
	1px 25px 35px rgba(16,16,16,0.2),
	1px 30px 60px rgba(16,16,16,0.4);
	
	}
	
.addEmpFormClass-bubble{
    background-color: #c8d8e4;
	border-radius: 15px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.addEmpFormClass-bubble-container div{
    margin:20px;
    width:25%; 
    height:50%;
}
.addEmpFormClass-bubble-container{
    background-color: #52ab98;
    position: relative;
	display: flex;
	flex: 80%;
	align-items: center;
	margin: 10px 10px;
    border-radius: 15px;
}

.addEmpFormClass-bubble-container label{
    color:#ffffff;
    font-size: 20px;
	font-weight: bold;
	margin: 10px 8px;
    display : block;
}

.addEmpFormClass-bubble-container input {
	padding: 5px 10px;
	font-size: 13px;
	width: 60%;
    display:block;
	border-color: #f0f1f2;
	background-color: #f6f6f6;
	border-style: solid;
	border-radius: 8px;
	outline: none;
	height: 30px;
}


.addFormButton{
    background-color: #52ab98;
	width: 40%;
	border: 20px ;
	border-radius: 10px;
	color: white;
	font-size: 14px;
	padding: 10px 60px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin:auto ;
}

.addFormButton:hover {
    background-color: #0e614f;
	font-size: 16px;
	text-shadow: 2px 2px #cec2c2;
	cursor:pointer;
}
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}
.custom-file-input::before {
	content: 'Upload Image';
	color: #707070;
	display: inline-block;
	background-color: #f6f6f6; 
	outline: none;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	line-height: 30px;
	padding-right: 14px;
}
.custom-file-input:hover::before {
	border-color: black;
}
.custom-file-input:active::before {
 	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* add emp output*/

.form-container {
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 75vh;
	background-color: #eceff4; 
	border-radius: 15px;
	align-self: center;
	padding: 30px;
}

.form-container-add {
	height: 50vh;
}

.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.body-container h1,h2,h3{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
}

.form-bubble-container-get {
	text-align: center;
	font-weight: 400;
}

.form-bubble-container-get p{
	margin: 0 0 10px 0;
}

.form-container-get {
	height: 40vh;
}

.form-container-get-output {
	height: 40vh;
}

.form-container-attendance {
	height: 30vh;
}

.form-container-payroll {
	height: 35vh;

}