<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	<title>Add Employee Information</title>
</head>
		

		<body>
			<div class="navbar">
				<div class="navbar-left">
					<a href="/">
						<p>Home </p>
					</a>
				</div>
				<div class="navbar-middle">
					<a href="/addemp/">
						<p>Add Employees</p>
					</a>
					<a href="/getemp/">
						<p>Get Employees</p>
					</a>
					<a href="/attendance/">
						<p>Attendance</p>
					</a>
					<a href="/payroll/">
						<p>Payroll Calculator</p>
					</a>
				</div>
				<div class="navbar-right"></div>
				{{ date.strftime("%A, %d %B, %Y at %X") }}
			</div>

			<h1 id="AddEmpTitle" >Employee Database</h1>

			<form action="/addemp/results" autocomplete="on" method = "POST" enctype="multipart/form-data" class="addEmpFormClass-bubble">

				<!--<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->
			<div class="addEmpFormClass-bubble-container">
				<div><label for="emp_id" >Employee ID : </label></div>
		  		
			 <input type="text" name="emp_id" autofocus size="40" />
			</div>
			
			<div class="addEmpFormClass-bubble-container">
				<div><label for="first_name">First Name :</label></div>
		  		 <input  type="text" name="first_name" />
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="last_name">Last Name :</label></div>
				<input type="text" name="last_name"/>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="pri_skill">Primary Skills :</label></div> 
				<input  type="text" name="pri_skill"/>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="location">Location :</label></div>
				<input  type="text" name="location"/>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="emp_image_file">Image :</label> </div>
				<input type=file name="emp_image_file" class="custom-file-input" /> <br><br>
			</div>
		  		<button type="submit"  class="addFormButton" autofocus multiple="multiple">UPDATE DATABASE</button>

			</form>
		</body>
</html>
