<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	<title>Add Employee Information</title>
</head>
		

		<body>
			<div class="navbar">
				<div class="navbar-left">
					<a href ="/">
						<button >
							Home
						</button>
					</a>
					
				</div>
				<div class="navbar-middle">
					<a href="/addemp">
						<button >
							Add Employees
						</button>
		
					</a>
					
					<a href="/getemp">
						<button>
							Employee Management
						</button>
					</a>
					
					<a href="/attendance">
					<button >
						Attendance
					</button>
					</a>
					
					<a href="/leaveEmp">
						<button >
							Leave Management
						</button>
					</a>
					
					<a href="/payroll">
						<button>
							Payroll Calculator
						</button>
					</a>
					
				</div>
				<div class="navbar-right">
					<p>{{ date.strftime("%A, %d %B, %Y at %X") }}</p>
				</div>
			
			</div>

			<h1 id="AddEmpTitle" >Add New Employee</h1>

			<form action="/addemp/results" autocomplete="on" method = "POST" enctype="multipart/form-data" class="addEmpFormClass-bubble">

				<!--<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->
			<div class="addEmpFormClass-bubble-container">
				<div>
					<label for="emp_id" >Employee ID : </label>
				</div>
		  		
			 <input type="text" name="emp_id" value="{{empId}}" readonly="readonly"/>
			</div>
			
			<div class="addEmpFormClass-bubble-container">
				<div><label for="first_name">First Name :</label></div>
		  		 <input  type="text" name="first_name" />
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="last_name">Last Name :</label></div>
				<input type="text" name="last_name"/>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="training">Training :</label></div> 
				<input  type="text" name="training"/>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="email">Email :</label></div>
				<input  type="text" name="email"/>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="emp_image_file">Image :</label> </div>
				<input type=file name="emp_image_file" class="custom-file-input" /> <br><br>
			</div>
			
		  		<button type="submit"  class="addFormButton" autofocus multiple="multiple">UPDATE DATABASE</button>
			
			</form>
		</body>
</html>
