<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	
	
	<!--<link rel="stylesheet" type="text/css" href="static/EmpApp.css" />-->
	
	<title>Successfully Added New Employee</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<a href ="/">
				<button >
					Home
				</button>
			</a>
			
		</div>
		<div class="navbar-middle">
			<a href="/addemp">
				<button >
					Add Employees
				</button>

			</a>
			
			<a  href="/getemp">
				<button>
					Employee Management
				</button>
			</a>
			
			<a href="/attendance">
			<button >
				Attendance
			</button>
			</a>
			
			<a href="/payroll">
				<button >
					Leave Management
				</button>
			</a>
			
			<a href="/payroll">
				<button>
					Payroll Calculator
				</button>
			</a>
			
		</div>
		<div class="navbar-right">
			<p>{{ date.strftime("%A, %d %B, %Y at %X") }}</p>
		</div>
	
	</div>
</div>
	<div class="form-container form-container-add">
		<div class="form-bubble body-container">
			<h1>Employee successfully added</h1>
			<h2>Following Employee has been added to the database</h2>
			
				{% if profilePicList %}
				<img class="img-fluid" src="{{profilePicList[0]}}" alt="profilepic" width="230" height="290" style="border-radius: 50%">
				{% endif %}
			

			<h3>{{empName}}</h3>
		
		</div>
		<div class="addFormButton">
			<a href="/">
				<button class="form-button">Return back to Home</button>
			</a>
		</div>
	</div>
</body>
</html>