<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	
	
	<!--<link rel="stylesheet" type="text/css" href="static/EmpApp.css" />-->
	
	<title>Successfully Added New Employee</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<button href ="/">
				Home
			</button>
		</div>
		<div class="navbar-middle">
			<button href="/addemp/">
				Add Employees
			</button>
			<button href="/getemp/">
				Get Employees
			</button>
			<button href="/attendance/">
				Attendance
			</button>
			<button href="/payroll/">
				Employee Management
			</button>
			<button href="/payroll/">
				Payroll Calculator
			</button>
		</div>
		<div class="navbar-right">
			<p>{{ date.strftime("%A, %d %B, %Y at %X") }}</p>
		</div>
	
	</div>
</div>
	<div class="form-container form-container-add">
		<div class="form-bubble body-container">
			<h1>Employee successfully added</h1>
			<h2>Following Employee has been added to the database</h2>
			
				{% if profilePic %}
				<img class="img-fluid" src="{{profilePicList[0]}}" alt="profilepic" width="230" height="290" style="border-radius: 50%">
				{% endif %}
			

			<h3>{{empName}}</h3>
		
		</div>
		<div class="button-container">
			<a href="/">
				<button class="form-button">GO BACK</button>
			</a>
		</div>
	</div>
</body>
</html>