<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	<title>Attendance</title>

	<script>

		function generateAttendanceTable(tableData){
			var count = 0;
			var tblBody = document.getElementById("tableContent")
			tableData.forEach(function(rowData) {
                var row = document.createElement('tr');

                rowData.forEach(function(cellData) {
                    var cell = document.createElement('td');

                    cell.appendChild(document.createTextNode(cellData));
                    
                    row.appendChild(cell);
                });

                tableBody.appendChild(row);
                count++;
            });
            
        }

			
		</script>
</head>
<body onload="generateAttendanceTable({{tableContent}})"> 
	<div class="navbar">
		<div class="navbar-left">
			<a href ="/">
				<button >
					Home
				</button>
			</a>
			
		</div>
		<div class="navbar-middle">
			<a href="/addemp">
				<button >
					Add Employees
				</button>

			</a>
			
			<a href="/getemp">
				<button>
					Employee Management
				</button>
			</a>
			
			<a href="/attendance">
			<button >
				Attendance
			</button>
			</a>
			
			<a href="/leave">
				<button >
					Leave Management
				</button>
			</a>
			
			<a href="/payroll">
				<button>
					Payroll Calculator
				</button>
			</a>
			
		</div>
		<div class="navbar-right">
			<p>{{ date.strftime("%A, %d %B, %Y at %X") }}</p>
		</div>
	
	</div>
</div>

	<div class="table-container">
		<table style="background-color: dimgrey; color : white">
			<tr>
				<th>
					Employee ID
				</th>
				<th>
					Employee Name
				</th>
				<th>
					Status
				</th>
			</tr>
			<tbody id="tableContent">

			</tbody>
		</table>
	</div>

	<div class="form-container form-container-get">
		<form action="/attendance/output" autocomplete="on" method="POST" class="form-bubble">
		<div class="form-bubble-container">
			<label>Employee ID:</label>
			<input type="number" name="emp_id" autofocus size="40">
		</div>
				<div class="button-container1">
						<button type="submit" formaction="/attendance/checkIn" class="form-button">CHECK IN</button>
						<a href="/attendance/output">
					<button type="submit" class="form-button">CHECK OUT</button>
				</a>
					</div>
		</form>
		
	
	</div>
	
</body>
</html>