<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	<title>Homepage</title>
</head>
		

		<body>
			<div class="navbar">
				<div class="navbar-left">
					<a href ="/homepage">
						<button >
							Home
						</button>
					</a>
					
				</div>
				<div class="navbar-middle">
					<a href="/addemp">
						<button >
							Add Employees
						</button>
		
					</a>
					
					<a href="/getemp">
						<button>
							Employee Management
						</button>
					</a>
					
					<a href="/attendance">
					<button >
						Attendance
					</button>
					</a>
					
					<a href="/leave">
						<button >
							Leave Management
						</button>
					</a>
					
					<a href="/payroll">
						<button>
							Payroll Calculator
						</button>
					</a>
					
				</div>
				<div class="navbar-right">
					<p>{{ date.strftime("%A, %d %B, %Y at %X") }}</p>
				</div>
			
			</div>

			<h1 id="AddEmpTitle" class = "leaveTitle"style="text-align: center;" >Welcome to JonWaiFoo Employee Management System </h1>

			<div class="addEmpFormClass-bubble">

			<div class="homepageButtonFormClass-bubble-container">
				<a href="/addemp">
				<button type="submit"  class="homepageButton" autofocus multiple="multiple">ADD EMPLOYEE</button>
				</a>	
			</div>
			<div class="homepageButtonFormClass-bubble-container">
				<a href="/getemp">
				<button type="submit"  class="homepageButton" autofocus multiple="multiple">EMPLOYEE MANAGEMENT</button>
				</a>	
			</div>
			<div class="homepageButtonFormClass-bubble-container">
				<a href="/attendance">
				<button type="submit"  class="homepageButton" autofocus multiple="multiple">ATTENDANCE</button>
				</a>	
			</div>
			<div class="homepageButtonFormClass-bubble-container">
				<a href="/leave">
				<button type="submit"  class="homepageButton" autofocus multiple="multiple">LEAVE</button>
				</a>	
			</div>
			<div class="homepageButtonFormClass-bubble-container" >
				<a href="/payroll" >
				<button type="submit" class="homepageButton" autofocus multiple="multiple">PAYROLL CALCULATION</button>
				</a>	
			</div>
			</div>>
			
			

			
<a href="/about">About Us</a>
		</body>
</html>