<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	<title>Employee Payroll Details</title>
</head>
		

		<body>
			<div class="navbar">
				<div class="navbar-left">
					<a href="/">
						<p>Home </p>
					</a>
				</div>
				<div class="navbar-middle">
					<a href="/addemp/">
						<p>Add Employees</p>
					</a>
					<a href="/getemp/">
						<p>Get Empolyees</p>
					</a>
					<a href="/attendance/">
						<p>Attendance</p>
					</a>
					<a href="/payroll/">
						<p>Payroll Calculator</p>
					</a>
				</div>
				<div class="navbar-right"></div>
				{{ date.strftime("%A, %d %B, %Y at %X") }}
			</div>

			<h1 id="AddEmpTitle" class="leaveTitle" >Payroll Details</h1>

			<form action="/payroll/results" autocomplete="on" method = "POST" enctype="multipart/form-data" class="addEmpFormClass-bubble">

				<!--<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->
			<div class="addEmpFormClass-bubble-container">
				<div><label>Employee ID : </label></div>
				<label id="emp_id_id">{{emp_id}}</label>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="working_hour" id = "working_hour_id">Working Hours :</label></div>
				<label name = "working_hour_per_day">{{working_hour_per_day}}</label>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="monthly_salary">Monthly Salary :</label></div>
				<label name = "monthly_salary" id = "monthly_salary_id">{{monthly_salary}}</label>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="annual_salary">Annual Salary :</label></div> 
				<label name = "annual_salary" id = "annual_salary_id">{{annual_salary}}</label>
			</div>
			<div class="payrollConfirmFormClass-bubble-container">
				<button type="submit"  class="payrollConfirmButton" autofocus multiple="multiple">CONFIRM SALARY</button>
			</div>
			
			</form>
			<br>
			<form action="/payroll" autocomplete="on" method = "POST" enctype="multipart/form-data" class="addEmpFormClass-bubble">
				<div class="payrollBackFormClass-bubble-container">
					<button type="submit"  class="payrollBackButton" autofocus multiple="multiple">BACK</button>
				</div>
			</form>

			<input type="hidden" name="emp_id" value="" id="hidden_emp_id" value={{emp_id}}>
			<input type="hidden" name="working_hour_per_day" value={{working_hour_per_day}} id="hidden_working_hour_per_day" />
			<input type="hidden" name="monthly_salary" value={{monthly_salary}} id="hidden_monthly_salary" />
			<input type="hidden" name="annual_salary" value={{annual_salary}} id="hidden_annual_salary" />
		
	

			
<a href="/about">About Us</a>
		</body>
</html>