<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpApp.css')}}" />
	<title>Employee Payroll Details</title>
</head>
		

		<body>
			<div class="navbar">
				<div class="navbar-left">
					<a href ="/homepage">
						<button >
							Home
						</button>
					</a>
					
				</div>
				<div class="navbar-middle">
					<a href="/addemp">
						<button >
							Add Employees
						</button>
		
					</a>
					
					<a href="/getemp">
						<button>
							Employee Management
						</button>
					</a>
					
					<a href="/attendance">
					<button >
						Attendance
					</button>
					</a>
					
					<a href="/leave">
						<button >
							Leave Management
						</button>
					</a>
					
					<a href="/payroll">
						<button>
							Payroll Calculator
						</button>
					</a>
					
				</div>
				<div class="navbar-right">
					<p>{{ date.strftime("%A, %d %B, %Y at %X") }}</p>
				</div>
			
			</div>

			<h1 id="AddEmpTitle" class="leaveTitle" >Payroll Details</h1>

			<form action="/payroll/results" autocomplete="on" method = "POST" enctype="multipart/form-data" class="addEmpFormClass-bubble">

				<!--<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->
			<div class="addEmpFormClass-bubble-container">
				<div><label>Employee ID : </label></div>
				<label id="emp_id_id">{{emp_id}}</label>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="working_hour" id = "working_hour_id">Working Hours :</label></div>
				<label id="working_hour_per_day_id" >{{working_hour_per_day}}</label>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="monthly_salary">Monthly Salary :</label></div>
				<label  id = "monthly_salary_id">{{monthly_salary}}</label>
			</div>
			<div class="addEmpFormClass-bubble-container">
				<div><label for="annual_salary">Annual Salary :</label></div> 
				<label id = "annual_salary_id">{{annual_salary}}</label>
			</div>
			<div class="payrollConfirmFormClass-bubble-container">
				<button type="submit"  class="payrollConfirmButton" autofocus multiple="multiple">CONFIRM SALARY</button>
			</div>
			
			</form>
			<br>
			<form action="/payroll" autocomplete="on" method = "POST" enctype="multipart/form-data" class="addEmpFormClass-bubble">
				<div class="payrollBackFormClass-bubble-container">
					<button type="submit"  class="payrollBackButton" autofocus multiple="multiple">BACK</button>
				</div>
			</form>

			<input type="hidden" name="emp_id" value="" id="hidden_emp_id">
			<input type="hidden" name="working_hour_per_day" value=""  id="hidden_working_hour_per_day" />
			<input type="hidden" name="monthly_salary"  value="" id="hidden_monthly_salary" />
			<input type="hidden" name="annual_salary"  value="" id="hidden_annual_salary" />

			<script>
				document.getElementById("hidden_emp_id").value = emp_id_id;
				alert(document.getElementById("hidden_emp_id").value);
			</script>

		
	

			
<a href="/about">About Us</a>
		</body>
</html>